'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'AmigaOS'
      'submenu': [
        { 'label': 'New Project...',  'command': 'lang-amigaos:new-project'  }
        { 'label': 'New Subclass...', 'command': 'lang-amigaos:new-subclass' }
        { 'label': 'Settings', 'command': 'lang-amigaos:settings' }
      ]
    ]
  }
]
