@import "syntax-variables";

//Colors
@od_cyan:        darken(desaturate(spin(@syntax-color-function, -20), 35%), 11%);    // <-for support functions
@od_blue:        @syntax-color-function;    // <-for user functions
@od_purple:      @syntax-color-keyword;    // <-for storage types
@od_darkerGreen: @syntax-color-snippet;
@od_niceRed:     @syntax-color-tag;    // <-for compiler predefines
@od_Red-2:       darken(desaturate(spin(@syntax-color-constant , -25), 6%), 10%);
@od_yellow:      @syntax-color-class;  // For variable identifiers !?

@a_lighterPurple: lighten(@od_purple, 8%);  // <-For Amiga Storage Typedefs
@a_darkerBlue: darken(saturate(spin(@od_blue, 3), 18%), 8%);
@a_pink: hsl(330, 64%, 70%);           // For Library Bases
@syntax-deprecated-fg: darken(@syntax-color-modified, 50%);
@syntax-deprecated-bg: @syntax-color-modified;
@syntax-illegal-fg:    white;
@syntax-illegal-bg:    @syntax-color-removed;

//TEMPORARY SCOPE COLOR! (Remove this when One-Dark-Syntax gets this implemented)
.syntax--entity.syntax--name.syntax--macro {
  color: @syntax-color-function; // <--Function color
}

//Scope Selectors
.syntax--storage {
  &.syntax--type,
  &.syntax--modifier {
    &.syntax--amigaos,
    &.syntax--amigaos4 {
      color: @a_lighterPurple;
    }
  }
}

.syntax--struct,
.syntax--union {
  &.syntax--amigaos,
  &.syntax--amigaos4 {
    color: @a_lighterPurple;
  }
}

.syntax--identifier {
  &.syntax--amigaos,
  &.syntax--amigaos4 {
    color: @syntax-color-variable;
  }
  &.syntax--macro,
  &.syntax--function {
    &.syntax--amigaos,
    &.syntax--amigaos4 {
      color: @syntax-color-function;  // <-- Same as user func. color
    }
  }
}

.syntax--macro {
  &.syntax--compiler.syntax--amigaos {
    color: @od_niceRed;
  }
  &.syntax--amigaos,
  &.syntax--amigaos4 {
    color: @a_darkerBlue;
  }
}

.syntax--identifier {
  &.syntax--amigaos,
  &.syntax--amigaos4 {
    color: @a_darkerBlue;
  }
}

.syntax--enum {
  &.syntax--amigaos,
  &.syntax--amigaos4 {
    color: @a_darkerBlue;
  }
}

.syntax--library-base {
  &.syntax--amigaos,
  &.syntax--amigaos4 {
    color: @a_pink;
  }
}

.syntax--obsolete {
  color: @syntax-deprecated-fg;
  background-color: @syntax-deprecated-bg;
}

.syntax--entity.syntax--other.syntax--label-name {
  color: @od_niceRed;
}
